<h2>Productos</h2>

<hr>

<ul>

    {{#each products}}

    <li>{{title}}</li>

    {{/each}}

</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtimeproducts.js"></script>


