<h2>Productos</h2>

<hr>

<ul>

    {{#each products}}

    <li id="productItem"> {{title}} <button id="quitarProducto">Quitar producto</button></li>

    {{/each}}

</ul>

<h1>Ingreso de productos nuevos</h1>

<form id="nuevoProducto" action="">

<input type="string" class="title" placeholder="title"> 
<input type="string" class="description" placeholder="description">
<input type="number" class="code" placeholder="code">
<input type="number" class="price" placeholder="price">
<input type="boolean" class="status" placeholder="status">
<input type="number" class="stock" placeholder="stock">
<input type="string" class="category" placeholder="category">
<input type="object" class="thumbnails" placeholder="thumbnails">
<button type="submit">Cargar producto</button>

</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtimeproducts.js"></script>


